<apex:page standardController="Lead">
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Call from internal device</h1>
  <p><a href="http://192.168.2.235/command.htm?number={!lead.phone}&outgoing_uri=41445158953@business1.voipgateway.org">Bistro Baguette</a></p>
  <p><a href="http://192.168.2.86/{!lead.phone}">Boardroom Operations Center 2</a></p>
  This is your new Page
  <!-- End Default Content REMOVE THIS -->
  
  
  
  
  
  HttpRequest req = new HttpRequest();
req.setMethod('GET');
req.setBody("num=789"); 
Http http = new Http();

 try {

      HTTPResponse res = http.send(req);   

      System.debug(res.toString());
      System.debug('STATUS:'+res.getStatus());
      System.debug('STATUS_CODE:'+res.getStatusCode());
 } catch(System.CalloutException e) {
        //Exception handling goes here....
 }  
  
  
</apex:page>