.THIS table thead tr {
    border: 1px solid #DDDADA ;
    
}
.THIS table tbody tr  {
    border: 1px solid #DDDADA ;
    border-radius:5px;
}
/*.THIS .slds-checkbox_faux{
    display:none !important;
}
.THIS .slds-checkbox{
    text-align:center;
}*/
.THIS .checkhover :hover{
    background-color:silver;
}
.THIS.max-5 {
    max-height: 8.2em;
}