.THIS .pageHeading{
    font-size: 150%;
    text-align: left;
    background: #e4e4e4;
    color: #444444;
    /* box-shadow: 1px 1px 1px #888888; */
    /*background-image: linear-gradient(#49b5f5, #ffffff);*/
}
.THIS .slds-table_header-fixed_container{
    background: transparent !important;
}
.THIS .diet-veg{
    background: black;
}